<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adoptable Companions</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
          <a href="/index.html"><img src="/images/logo.jpg" alt="logo"></a>
            <h2>Adoptable companions</h2> 
            <p id="date-time"></p>
        </header>
        <div class="content">
            <nav id="nav">
                <ul>
                    <li><a href="/index.html">Home Page</a></li>
                    <li><a href="/find.html">Find a dog/cat</a></li>
                    <li><a href="/dog.html">Dog Care</a></li>
                    <li><a href="/cat.html" id="active">Cat Care</a></li>
                    <li><a href="/giveaway.html">Have a pet to give away</a></li>
                    <li><a href="/contact.html">Contact Us</a></li>
                    <li><a href="/account.html">Account</a></li>
                    <li><a href="/logout" id="logout">Log Out</a></li>
                </ul>
            </nav>

            <main>
                <h1>General Cat Care!</h1>
                <h3>Feeding</h3>
                <p>We recommend purchasing high-quality, brand-name kitten or cat food. Your veterinarian will be able to assess your new cat 
                or kitten and determine the best diet. Factors such as age, activity level and health make a difference in what and how much a cat should eat.</p>
                <h3>Grooming</h3>
                <p>Most cats stay relatively clean and rarely need a bath, but you should brush or comb your cat regularly. Frequent brushing helps keep your cat's coat clean, reduces the amount of shedding and cuts down on the incidence of hairballs. </p>
                <h3>Handling</h3>
                <p>To pick up your cat, place one hand behind the front legs and another under the hindquarters. Lift gently. Never pick up a cat by the scruff of the neck or by the front legs.</p>
                <h3>Housing</h3>
                <p>Your pet should have her own clean, dry place in your home to sleep and rest. Line your cat's bed with a soft, warm blanket or towel. Be sure to wash the bedding often. Please keep your cat indoors. Outdoor cats do not live as long as indoor cats. Outdoor cats are at risk of trauma from cars, or from fights with other cats, raccoons and free-roaming dogs. Coyotes are known to eat cats. Outdoor cats are more likely to become infested with fleas or ticks, as well as contract infectious diseases.</p>
                <h3>Identification</h3>
                <p>If allowed outdoors, your cat must wear a safety collar and an ID tag. A safety collar with an elastic panel will allow your cat to break loose if the collar gets caught on something. And for both indoor and outdoor cats, an ID tag or an implanted microchip can help ensure that your cat is returned if he or she becomes lost.</p>
                <h3>Liter Box</h3> 
                <p>All indoor cats need a litter box, which should be placed in a quiet, accessible location. In a multi-level home, one box per floor is recommended. Avoid moving the box unless absolutely necessary, but if you must do so, move the box just a few inches per day. Keep in mind that cats won't use a messy, smelly litter box, so scoop solid wastes out of the box at least once a day. Dump everything, wash with a mild detergent and refill at least once a week; you can do this less frequently if using clumping litter. Don't use ammonia, deodorants or scents, especially lemon, when cleaning the litter box. If your cat will not use a litterbox, please consult with your veterinarian. </p>
                <h3>Scratching</h3>
                <p>Cats need to scratch! When a cat scratches, the old outer nail sheath is pulled off and the sharp, smooth claws underneath are exposed. Cutting your cat’s nails every two to three weeks will keep them relatively blunt and less likely to harm the arms of both humans and furniture. Provide your cat with a sturdy scratching post, at least three feet high. The post should also be stable enough that it won't wobble during use, and should be covered with rough material such as sisal, burlap or tree bark. Many cats also like scratching pads.</p>
                <p>Source of info: <a href="https://www.aspca.org/pet-care/cat-care/general-cat-care" target="_blank">https://www.aspca.org/pet-care/cat-care/general-cat-care</a></p>
            </main>
        </div>
        
        <footer>
            <p><strong>This website is dedicated to helping pets find loving homes. We promise to protect your information and ensure the accuracy of the information provided by pet owners.</strong></p>
            <br><a href="/disclaimer.html">Privacy/Disclaimer</a>
        </footer>
    </div>
    <script src="/js/script.js"></script>
</body>
</html>