<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Adoptable Companions</title>
		<link href="/css/style.css" rel="stylesheet" />
	</head>
	<body>
		<div class="container">
			<header>
				<a href="/index.html"><img src="/images/logo.jpg" alt="logo" /></a>
				<h2>Adoptable companions</h2>
				<p id="date-time"></p>
			</header>
			<div class="content">
				<nav id="nav">
					<ul>
						<li><a href="/index.html">Home Page</a></li>
						<li><a href="/find.html">Find a dog/cat</a></li>
						<li><a href="/dog.html">Dog Care</a></li>
						<li><a href="/cat.html">Cat Care</a></li>
						<li><a href="/giveaway.html">Have a pet to give away</a></li>
						<li><a href="/contact.html" id="active">Contact Us</a></li>
						<li><a href="/account.html">Account</a></li>
						<li><a href="/logout" id="logout">Log Out</a></li>
					</ul>
				</nav>

				<main>
					<h1>Contact Us Now!</h1>
					<h3><u>Additional Information</u></h3>
					<ul id="contact">
						<li>Yassine Hajou</li>
						<li>Student ID: 40284609</li>
						<li>Personal Email: yassinehajou7@gmail.com</li>
						<li>Concordia Email: y_hajou@live.concordia.ca</li>
					</ul>
				</main>
			</div>

			<footer>
				<p>
					<strong
						>This website is dedicated to helping pets find loving homes. We
						promise to protect your information and ensure the accuracy of the
						information provided by pet owners.</strong
					>
				</p>
				<a href="/disclaimer.html">Privacy/Disclaimer</a>
			</footer>
		</div>
		<script src="/js/script.js"></script>
	</body>
</html>
