<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adoptable Companions</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
          <a href="/index.html"><img src="/images/logo.jpg" alt="logo"></a>
            <h2>Adoptable companions</h2> 
            <p id="date-time"></p>
        </header>
        <div class="content">
            <nav id="nav">
                <ul>
                    <li><a href="/index.html">Home Page</a></li>
                    <li><a href="/find.html">Find a dog/cat</a></li>
                    <li><a href="/dog.html" id="active">Dog Care</a></li>
                    <li><a href="/cat.html">Cat Care</a></li>
                    <li><a href="/giveaway.html">Have a pet to give away</a></li>
                    <li><a href="/contact.html">Contact Us</a></li>
                    <li><a href="/account.html">Account</a></li>
                    <li><a href="/logout" id="logout">Log Out</a></li>
                </ul>
            </nav>

            <main>
                <h1>General Dog Care!</h1>
                <h3>Feeding</h3>
                <ul>
                    <li>Puppies eight to 12 weeks old need four meals a day.</li>
                    <li>Feed puppies three to six months old three meals a day.</li>
                    <li>Feed puppies six months to one year two meals a day.</li>
                    <li>When your dog reaches his first birthday, one meal a day is usually enough.</li>
                    <li>For some dogs, including larger canines or those prone to bloat, it's better to feed two smaller meals.</li>
                </ul>
                <p>Premium-quality dry food provides a well-balanced diet for adult dogs and may be mixed with water, broth or canned food. Your dog may enjoy cottage cheese, cooked egg or fruits and vegetables, but these additions should not total more than ten percent of his daily food intake.</p>
                <p>Puppies should be fed a high-quality, brand-name puppy food (large breed puppy foods for large breeds). Please limit "people food," however, because it can result in vitamin and mineral imbalances, bone and teeth problems and may cause very picky eating habits and obesity. Clean, fresh water should be available at all times, and be sure to wash food and water dishes frequently.</p>
                <h3>Exercise</h3>
                <p>Dogs need exercise to burn calories, stimulate their minds, and stay healthy. Individual exercise needs vary based on breed or breed mix, sex, age and level of health. Exercise also tends to help dogs avoid boredom, which can lead to destructive behaviors. Supervised fun and games will satisfy many of your pet's instinctual urges to dig, herd, chew, retrieve and chase.</p>
                <h3>Grooming</h3>
                <p>Help keep your dog clean and reduce shedding with frequent brushing. Check for fleas and ticks daily during warm weather. Most dogs don't need to be bathed more than a few times a year. Before bathing, comb or cut out all mats from the coat. Carefully rinse all soap out of the coat, or the dirt will stick to soap residue.</p>
                <h3>Handling</h3>
                <p>To carry a puppy or small dog, place one hand under the dog's chest, with either your forearm or other hand supporting the hind legs and rump. Never attempt to lift or grab your puppy or small dog by the forelegs, tail or back of the neck. If you do have to lift a large dog, lift from the underside, supporting his chest with one arm and his rear end with the other.</p>
                <h3>Housing</h3>
                <p>Your pet needs a warm, quiet place to rest, away from all drafts and off the floor. A training crate or dog bed is ideal, with a clean blanket or pillow placed inside. Wash the dog's bedding often. If your dog will be spending a lot of time outdoors, be sure she has access to shade and plenty of cool water in hot weather, and a warm, dry, covered shelter when it's cold.</p>
                <h3>Identfication</h3>
                <p>Follow your community’s licensing regulations. Be sure to attach the license to your dog’s collar. This, along with an ID tag and implanted microchip or tattoo, can help secure your dog’s return should she become lost</p>
                <p>Source of info: <a href="https://www.aspca.org/pet-care/cat-care/general-cat-care" target="_blank">https://www.aspca.org/pet-care/cat-care/general-cat-care</a></p>
            </main>
        </div>
        
        <footer>
            <p><strong>This website is dedicated to helping pets find loving homes. We promise to protect your information and ensure the accuracy of the information provided by pet owners.</strong></p>
            <br><a href="/disclaimer.html">Privacy/Disclaimer</a>
        </footer>
    </div>
    <script src="/js/script.js"></script>
</body>
</html>