<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Adoptable Companions</title>
		<link href="/css/style.css" rel="stylesheet" />
	</head>
	<body>
		<div class="container">
			<header>
				<a href="/index.html"><img src="/images/logo.jpg" alt="logo" /></a>
				<h2>Adoptable companions</h2>
				<p id="date-time"></p>
			</header>
			<div class="content">
				<nav id="nav">
					<ul>
						<li><a href="/index.html">Home Page</a></li>
						<li><a href="/find.html">Find a dog/cat</a></li>
						<li><a href="/dog.html">Dog Care</a></li>
						<li><a href="/cat.html">Cat Care</a></li>
						<li>
							<a href="/giveaway.html" id="active">Have a pet to give away</a>
						</li>
						<li><a href="/contact.html">Contact Us</a></li>
						<li><a href="/account.html">Account</a></li>
						<li><a href="/logout" id="logout">Log Out</a></li>
					</ul>
				</nav>

				<main>
					<h1>Giveaway Your Pet!</h1>
					<h3>Fill up the form:</h3>
					<form action="/giveaway" id="giveaway-form" method="post">
						<div
							id="giveaway-msg"
							style="text-decoration: underline; font-weight: bold"
						></div>
						<br />
						<label for="pet">Pet: </label>
						<select name="pet" id="pet">
							<option value="dog">Dog</option>
							<option value="cat">Cat</option></select
						><br />
						<label for="breed">Breed: </label>
						<select name="breed" id="breed">
							<option value="ragdoll">Ragdoll</option>
							<option value="abyssinian">Abyssinian</option>
							<option value="bengal">Bengal</option>
							<option value="labrador">Labrador Retriver</option>
							<option value="german">German Shepard</option>
							<option value="poodle">Poodle</option>
							<option value="mixed">Mixed</option></select
						><br />
						<label for="age">Age: </label>
						<select name="age" id="age">
							<option value="young">Young(0-2 years)</option>
							<option value="adult">Adult(2-8 years)</option>
							<option value="senior">Senior(8+ years)</option></select
						><br />
						<label for="gender">Gender: </label>
						<select name="gender" id="gender">
							<option value="male">Male</option>
							<option value="female">Female</option></select
						><br />
						<label for="dogs">Gets along with other dogs?:</label>
						<select name="dogs">
							<option value="yes">Yes</option>
							<option value="no">No</option></select
						><br />
						<label for="cats">Gets along with other cats?:</label>
						<select name="cats">
							<option value="yes">Yes</option>
							<option value="no">No</option></select
						><br />
						<label for="children">Suitable for family with children:</label>
						<select name="children">
							<option value="yes">Yes</option>
							<option value="no">No</option></select
						><br />
						<label for="comment">Tell us more about your pet:</label><br />
						<textarea name="comment" rows="4" cols="60"></textarea><br />
						<label for="owner">Write your full name:</label>
						<input type="text" name="owner" /><br />
						<label for="email">Write your email adress:</label>
						<input type="text" name="email" /><span id="error-email"></span
						><br />
						<button type="reset" name="reset">Reset</button>
						<button type="submit" name="submit">Submit</button>
					</form>
				</main>
			</div>

			<footer>
				<p>
					<strong
						>This website is dedicated to helping pets find loving homes. We
						promise to protect your information and ensure the accuracy of the
						information provided by pet owners.</strong
					>
				</p>
				<a href="/disclaimer.html">Privacy/Disclaimer</a>
			</footer>
		</div>
		<script src="/js/script.js"></script>
	</body>
</html>
